.wrapper {
  width: 100%;
  min-height: 200px;
  background-color: var(--block-bg);
  display: flex;

  text-align: center;
  font-size: 50px;

  padding-top: 35px;
  padding-bottom: 35px;

  .content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;

    div {
      display: flex;
      flex-direction: column;
      text-align: start;

      span {
        font-size: 18px;
        font-weight: 700;
        margin-bottom: 24px;
      }
    }

    .about {
      max-width: 235px;
      p {
        font-family: var(--font-secondary);
        margin-top: 24px;
      }
    }

    .links {
      width: 100%;
      max-width: 260px;

      span {
        font-family: var(--font-tertiary);
      }
      div {
        width: 100%;
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        gap: 16px;
        a {
          font-family: var(--font-secondary);
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }

    .media {
      span {
        font-family: var(--font-tertiary);
      }
      div {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 24px;
      }
    }
  }
}

@media screen and (max-width: 790px) {
  .wrapper {
    .content {
      width: 100%;
      display: grid;
      gap: 15px;
      grid-template-columns: 1fr 1fr;

      .media {
        grid-column: span 2 / span 2;
        align-items: center;
        span {
          margin-bottom: 20px;
        }
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      /* align-items: center; */
      gap: 30px;

      .media {
        align-items: flex-start;
      }
    }
  }
}