.wrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 0 15px;

  .content {
    max-height: 85%;
    overflow-y: auto;
  }

  .titles {
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
    text-transform: uppercase;

    p {
      color: var(--blue-neon);
      font-size: 22px;
    }
  }

  .feedbacks {
    display: flex;
    flex-direction: column;

    div {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin-bottom: 10px;
      gap: 15px;
    }

    p {
      font-size: var(--font-medium);
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  button {
    width: fit-content;
    padding: 20px 70px;
    height: fit-content;
    color: var(--blue-btn);
    background: var(--btn-gradient);
    margin: 0 auto;
  }
}

@media screen and (max-width: 600px) {
  .wrapper {
    .titles {
      display: none;
    }

    .feedbacks {
      div {
        border: 1px solid var(--blue-btn);
        padding: 15px;
        border-radius: 8px;
        display: flex;
        flex-direction: column;

        :nth-child(2) {
          font-size: var(--font-small);
        }
        :nth-child(3) {
          font-size: var(--font-small);
        }
      }
    }
  }
}