.wrapper {
  display: flex;
  flex-direction: column;

  .content {
    margin-top: 56px;
    display: grid;
    grid-template-columns: 2fr 1fr 2fr;

    div {
      display: flex;
      flex-direction: column;
      gap: 145px;
    }

    .rightCards {
      margin-top: 25%;
    }
  }
}

@media screen and (max-width: 1250px) {
  .wrapper {
    .content {
      grid-template-columns: 1fr 1fr;
      gap: 30px;
      .separatorWrap {
        display: none;
      }

      div {
        gap: 40px;
        align-items: center;
      }

      .rightCards {
        margin-top: 0;
      }
    }
  }
}

@media screen and (max-width: 1065px) {
  .wrapper {
    .content {
      display: flex;
      flex-direction: column;
      div {
        gap: 0px;
      }
    }
  }
}