.wrapper {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -2;

  .star {
    position: absolute;
    left: 10%;
    top: 30px;
    animation: animate linear infinite;
    animation-duration: 25s;
    animation-delay: 15s;

    &:nth-child(2) {
      animation-duration: 15s;
      left: 20%;
    }
    &:nth-child(3) {
      animation-duration: 13s;
      left: 30%;
    }
    &:nth-child(4) {
      animation-duration: 17s;
      left: 55%;
    }
    &:nth-child(5) {
      animation-duration: 18s;
      left: 55%;
    }
    &:nth-child(6) {
      animation-duration: 15s;
      left: 58%;
    }
    &:nth-child(7) {
      animation-duration: 19s;
      left: 68%;
    }
    &:nth-child(8) {
      animation-duration: 13s;
      left: 80%;
    }
    &:nth-child(9) {
      animation-duration: 15s;
      left: 100%;
    }
    &:nth-child(10) {
      animation-duration: 10s;
      left: 95%;
    }
  }

  .fume {
    position: absolute;
    left: 10%;
    width: 500px;
    height: 500px;
    top: 40%;
    border-radius: 50%;

    &:nth-child(2) {
      width: 500px;
      height: 500px;
      left: 60%;
      top: 10%;
    }
    &:nth-child(3) {
      width: 500px;
      height: 500px;
      left: 50%;
      top: 60%;
    }
    &:nth-child(4) {
      width: 700px;
      height: 700px;
      left: 20%;
      top: -20%;
    }
  }



  /* .fume {
    position: absolute;
    top: 30px;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-image: radial-gradient(circle,#181C37 80%, #0C102D 0%);

    animation: animate linear infinite;
    animation-duration: 22s;
    animation-delay: 15s;

    &:nth-child(2) {
      animation-duration: 15s;
      width: 75px;
      height: 75px;
      left: 20%;
    }
    &:nth-child(3) {
      animation-duration: 20s;
      width: 80px;
      height: 80px;
      left: 10%;
    }
    &:nth-child(4) {
      animation-duration: 18s;
      width: 70px;
      height: 70px;
      left: 31%;
    }
    &:nth-child(5) {
      animation-duration: 10s;
      width: 60px;
      height: 60px;
      left: 43%;
    }
    &:nth-child(6) {
      animation-duration: 15s;
      width: 150px;
      height: 150px;
      left: 58%;
    }
    &:nth-child(7) {
      animation-duration: 15s;
      width: 100px;
      height: 100px;
      left: 61%;
    }
    &:nth-child(8) {
      animation-duration: 15s;
      width: 300px;
      height: 300px;
      left: 95%;
    }
  } */
}


@keyframes animate {
  0% {
    opacity: 1;
    border-radius: 100%;
    transform: translateY(0) rotate(0deg);
  }
  100% {
    opacity: 0;
    border-radius: 50%;
    transform: translateY(1000px) rotate(720deg);
  }
}