.wrapper {
  h2 {
    max-width: 660px;
    text-align: center;
  }

  .contentWrapper {
    margin-top: 55px;
    display: flex;

    .imgSide {
      width: 50%;
      height: 100%;
      margin-right: 24px;

      p {
        font-family: var(--font-secondary);
        line-height: 1.4;
        max-width: 280px;
      }

      position: relative;

      .img {
        position: relative;

        width: 400px;
        height: 400px;
        &::after {
          content: '';
          width: 100%;
          height: 100%;
          position: absolute;
          left: 0;
          left: -40px;
          top: -100px;
          background-image: url('/assets/questions/question.webp');
          background-repeat: no-repeat;
          background-size: 500px 500px;
          transform: scale(2.6);
          z-index: -1;

          @media screen and (max-width: 1100px) {
            left: -100px;
          }
          @media screen and (max-width: 880px) {
            top: -350px;
            left: -70px;
            transform: scale(2);
          }
          @media screen and (max-width: 700px) {
            top: -100px;
            left: 00px;
          }
          @media screen and (max-width: 500px) {
            left: -70px;
          }
          @media screen and (max-width: 430px) {
            left: -100px;
          }
        }
      }
    }
    .content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .gradientWrap {
        background: var(--block-gradient);
        padding: 1px;
        padding-right: 2px;
        border-radius: 8px;
        clip-path: var(--leftTopRightBottom-clip);

        .questionBg {
          width: 100%;
          min-height: 60px;
          border-radius: 8px;

          padding: 16px 25px;

          background-color: var(--block-bg);
          clip-path: var(--leftTopRightBottom-clip);
        }
      }

      details {
        display: flex;
        align-items: center;
        justify-content: center;

        :focus {
          outline: none;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        & > summary {
          cursor: pointer;
          font-size: var(--font-medium);
          font-weight: 500;

          position: relative;
          &::after {
            content: '+';
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        &[open] > summary {
          &::after {
            content: '-';
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        p {
          font-family: var(--font-secondary);
          line-height: 1.4;
          margin-top: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    .contentWrapper {
      flex-direction: column;

      .imgSide {
        width: 100%;
        p {
          margin-left: 60%;
          margin-top: 25%;
        }
      }

      .content {
        margin-top: -200px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        div {
          height: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    .contentWrapper {
      .imgSide {
        p {
          margin: 0 auto;
          text-align: center;
        }
      }

      .content {
        margin-top: 50px;
        grid-template-columns: 1fr;
      }
    }
  }
}