.wrapper {
  h2 {
    max-width: 660px;
    text-align: center;
  }

  .contentWrapper {
    margin-top: 55px;
    display: flex;

    .imgSide {
      width: 50%;
      height: 100%;
      margin-right: 24px;

      p {
        font-family: var(--font-secondary);
        line-height: 1.4;
        max-width: 280px;
      }

      position: relative;

      .imgWrap {
        position: absolute;
        top: -400px;
        left: -200px;
        z-index: -1;

        @media screen and (max-width: 1100px) {
          width: 900px;
          height: 800px;
        }
        @media screen and (max-width: 700px) {
          left: -110px;
        }
        @media screen and (max-width: 600px) {
          left: -140px;
        }
        @media screen and (max-width: 500px) {
          left: -200px;
        }
        @media screen and (max-width: 400px) {
          left: -260px;
        }
      }
    }
    .content {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      gap: 24px;

      .gradientWrap {
        background: var(--block-gradient);
        padding: 1px;
        padding-right: 2px;
        border-radius: 8px;
        clip-path: var(--leftTopRightBottom-clip);

        .questionBg {
          width: 100%;
          min-height: 60px;
          border-radius: 8px;

          padding: 16px 25px;

          background-color: var(--block-bg);
          clip-path: var(--leftTopRightBottom-clip);
        }
      }

      details {
        display: flex;
        align-items: center;
        justify-content: center;

        :focus {
          outline: none;
        }

        &:not(:last-child) {
          margin-bottom: 24px;
        }

        & > summary {
          cursor: pointer;
          font-size: var(--font-medium);
          font-weight: 500;

          position: relative;
          &::after {
            content: '+';
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        &[open] > summary {
          &::after {
            content: '-';
            position: absolute;
            right: 0;
            top: 0;
          }
        }

        p {
          font-family: var(--font-secondary);
          line-height: 1.4;
          margin-top: 16px;
        }
      }
    }
  }
}

@media screen and (max-width: 880px) {
  .wrapper {
    .contentWrapper {
      flex-direction: column;

      .imgSide {
        width: 100%;
        p {
          margin-left: 60%;
          margin-top: 25%;
        }
      }

      .content {
        margin-top: 400px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        div {
          height: fit-content;
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .wrapper {
    .contentWrapper {
      .imgSide {
        p {
          margin: 0 auto;
        }
      }

      .content {
        margin-top: 550px;
        grid-template-columns: 1fr;
      }
    }
  }
}